BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ld" SITE "104" ;
LOCATE COMP "Le" SITE "105" ;
LOCATE COMP "Rd" SITE "106" ;
LOCATE COMP "Re" SITE "107" ;
LOCATE COMP "A" SITE "38" ;
LOCATE COMP "B" SITE "39" ;
LOCATE COMP "C" SITE "41" ;
IOBUF PORT "A" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "B" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "C" IO_TYPE=LVCMOS25 PULLMODE=UP ;
