BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "A" SITE "38" ;
LOCATE COMP "B" SITE "39" ;
LOCATE COMP "C" SITE "40" ;
LOCATE COMP "D" SITE "42" ;
LOCATE COMP "seg_a" SITE "97" ;
LOCATE COMP "seg_b" SITE "98" ;
LOCATE COMP "seg_c" SITE "99" ;
LOCATE COMP "seg_d" SITE "100" ;
LOCATE COMP "seg_e" SITE "104" ;
LOCATE COMP "seg_f" SITE "105" ;
LOCATE COMP "seg_g" SITE "106" ;
IOBUF PORT "A" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "B" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "C" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "D" IO_TYPE=LVCMOS25 PULLMODE=UP ;
