BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "reset" SITE "98" ;
LOCATE COMP "R_bump" SITE "99" ;
LOCATE COMP "L_bump" SITE "100" ;
LOCATE COMP "Le" SITE "104" ;
LOCATE COMP "Ldir" SITE "105" ;
LOCATE COMP "Re" SITE "106" ;
LOCATE COMP "Rdir" SITE "107" ;
IOBUF PORT "Ldir" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "Rdir" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "Le" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "Re" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "reset" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "R_bump" IO_TYPE=LVCMOS25 PULLMODE=UP DRIVE=NA ;
IOBUF PORT "L_bump" IO_TYPE=LVCMOS25 PULLMODE=UP ;
