BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CS_n" SITE "28" ;
LOCATE COMP "led_0" SITE "97" ;
LOCATE COMP "led_1" SITE "98" ;
LOCATE COMP "led_2" SITE "99" ;
LOCATE COMP "led_3" SITE "100" ;
LOCATE COMP "led_4" SITE "104" ;
LOCATE COMP "led_5" SITE "105" ;
LOCATE COMP "led_6" SITE "106" ;
IOBUF PORT "led_0" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "led_1" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "led_2" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "led_4" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "led_5" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "led_3" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "led_7" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "led_6" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "CS_n" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
LOCATE COMP "reset" SITE "35" ;
LOCATE COMP "display_0" SITE "141" ;
LOCATE COMP "display_1" SITE "142" ;
LOCATE COMP "display_2" SITE "143" ;
