BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "A" SITE "38" ;
LOCATE COMP "B" SITE "39" ;
LOCATE COMP "C" SITE "40" ;
LOCATE COMP "LE_o" SITE "104" ;
LOCATE COMP "LD_o" SITE "105" ;
LOCATE COMP "RE_o" SITE "106" ;
LOCATE COMP "RD_o" SITE "107" ;
IOBUF PORT "A" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "B" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "LE_o" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "LD_o" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "RE_o" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "RD_o" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "C" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "ANLG_Ldir" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "ANLG_Rdir" IO_TYPE=LVCMOS25 PULLMODE=UP ;
